:host {
  display: flex;
  justify-content: center;
}

.rail {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  width: 6px;
  height: 100%;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
}

.thumb {
  display: flex;
  z-index: 10;
  position: relative;
  align-items: center;
  justify-content: center;
}

.thumb__point {
  position: absolute;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid white;
  border-radius: 10px;
  padding: 6px;
}

.thumb__tooltip {
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 20px;
  left: -45px;
  border: 2px solid #66D2EA;
  background-color: #6FCF97;
  opacity: 0.5;
  border-radius: 5px;
}

.progress {
  position: absolute;
  background: white;
  border-radius: 3px;
  width: 100%;
}

.scale {
  display: flex;
  height: 100%;
  margin-left: 5px;
  cursor: pointer;
}

.scale__wrapper {
  display: flex;
  flex-direction: column;
}

.scale__division {
  display: flex;
  flex-direction: column;
  border-right: 2px solid #66D2EA;
  border-top: 2px solid #66D2EA;
  padding-left: 2px;
  width: 8px;
  height: 100%;
}

.scale__division:last-child {
  border-bottom: 2px solid #66D2EA;
}

.scale__subdivision {
  width: 5px;
  height: 100%;
}

.scale__subdivision:not(:last-child) {
  border-bottom: 1px solid #66D2EA;
}

.scale__values {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.scale__values-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0;
  color: #6FCF97;
}