html
  height: 100%
  background-color: white

body
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  max-width: 800px
  min-height: 100%
  margin: 0 auto
  background-color: #CECECE

.header
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
  width: 100%

  &__logo
    width: 40px
    height: 40px
    padding: 5px

  &__title
    flex-grow: 1
    text-align: center
    color: #444444
    margin: 0

.main
  flex-grow: 1
  width: 100%
  background-color: #EFEFEF

.container
  display: flex
  align-items: center
  justify-content: space-around
  max-width: 800px
  border: 1px solid #9F9F9F
  margin: 10px
  padding: 10px
  background-color: #EFEFEF
  & h2
    position: relative
    top: -140px
    left: 0

.range-slider
  border: 1px solid red
  width: 300px
  height: 200px
  padding: 25px

.control
  display: flex
  flex-direction: column

  &__title
    margin: 0

  & label
    display: flex
    flex-direction: row-reverse
    justify-content: flex-end
    margin-bottom: 5px

  & input, output
    max-width: 60px
    margin-right: 10px

  & output
    margin-left: 20px

.footer
  display: flex
  justify-content: center
  background-color: #CECECE

  &__logo
    width: 40px
    height: 40px
    padding: 5px