.container
  display: flex
  align-items: center
  justify-content: space-around
  max-width: 800px
  border: 1px solid #9F9F9F
  margin: 10px auto
  padding: 10px
  background-color: #EFEFEF

input-slider-view
  border: 1px solid red
  width: 200px
  height: 300px
  padding: 20px

.control
  display: flex
  flex-direction: column

  & label
    display: flex
    flex-direction: row-reverse
    justify-content: flex-end
    margin-bottom: 5px

  & input
    max-width: 60px
    margin-right: 10px