mixin control
  form
    fieldset
      legend
        h3 Control panel
      div.control
        label Scale on/off
          input(type="checkbox").control__on-scale
        label Vertical on/off
          input(type="checkbox").control__on-vertical
        label Tooltip on/off
          input(type="checkbox").control__on-tooltip
        label Range mode
          input(type="checkbox").control__on-range
        label Minimum value
          input(type="number").control__min-value
        label Maximum value
          input(type="number").control__max-value
        label Step size value
          input(type="number").control__step-size
        label Value from
          input(type="number").control__value-from
        label Value to
          input(type="number").control__value-to
        label Range value
          output(type="number").control__value-range

doctype html
html(lang="ru" dir="ltr")
  head
    meta(charset="utf-8")
    title Slider demo
  body
    div.container
      input(class="input-slider-plugin" data-min-value="0" data-max-value="10" data-value-from="2" data-value-to="8" data-step-size="1" data-on-vertical="true" data-on-scale="true" data-on-range="true" data-on-tooltip="true")
      +control
