doctype html
html(lang="ru" dir="ltr")
  head
    meta(charset="utf-8")
    title Slider demo
  body
    div.container
      input(class="slider-plugin" data-min="0" data-max="10" data-value="5" data-value-from="5" data-value-to="5" data-step-value="1" data-vertical="true" data-range="true" data-tooltip="true")
    div.container
      input(class="slider-plugin" data-min="0" data-max="50" data-value="10" data-value-from="5" data-range="true")
    div.container
      input(class="slider-plugin" data-min="0" data-max="100" data-value="30" data-value-to="5" data-range="true" data-tooltip="true")
    div.container
      input(class="slider-plugin" data-min="0" data-max="100" data-value="30" data-step-value="10" data-vertical="true" data-tooltip="true")
    div.container
      input(class="slider-plugin" data-min="0" data-max="100")