doctype html
html(lang="ru" dir="ltr")
  head
    meta(charset="utf-8")
    title Slider demo
  body
    div.container
      input(class="slider-plugin" data-min="0" data-max="10" data-value-from="0" data-value-to="10" data-step-value="1" data-on-vertical="true" data-on-range="true" data-on-tooltip="true")
    div.container
      input(class="slider-plugin" data-min="0" data-max="50" data-value="10" data-value-from="5" data-on-range="true")
    div.container
      input(class="slider-plugin" data-min="0" data-max="100" data-value="30" data-value-to="45" data-on-range="true" data-on-tooltip="true")
    div.container
      input(class="slider-plugin" data-min="10" data-max="100" data-step-value="10" data-on-vertical="true" data-on-tooltip="true")
    div.container
      input(class="slider-plugin" data-min="0" data-max="100")