mixin control-panel
  form
    fieldset.control-panel
      legend Control panel
      label Scale mode
        input(type="checkbox")
      label Vertical mode
        input(type="checkbox")
      label Range mode
        input(type="checkbox")
      label Tooltip mode
        input(type="checkbox")
      label Minimum value
        input(type="number")
      label Maximum value
        input(type="number")
      label Step size value
        input(type="number")
      label Start value
        input(type="number")
      label End value
        input(type="number")
      label Current value
        input(type="number")

doctype html
html(lang="ru" dir="ltr")
  head
    meta(charset="utf-8")
    title Slider demo
  body
    div.container
      input(class="input-slider-plugin" data-min-value="0" data-max-value="8" data-value-from="4" data-value-to="7" data-step-size="1" data-on-vertical="true" data-on-range="true" data-on-tooltip="true")
      +control-panel
    div.container
      input(class="input-slider-plugin" data-min-value="0" data-max-value="50" data-value-from="10" data-on-range="true")
    div.container
      input(class="input-slider-plugin" data-min-value="0" data-max-value="100" data-value-to="45" data-on-range="true" data-on-tooltip="true")
      +control-panel
    div.container
      input(class="input-slider-plugin" data-min-value="10" data-max-value="100" data-step-size="10" data-on-vertical="true" data-on-tooltip="true")
    div.container
      input(class="input-slider-plugin" data-min-value="0" data-max-value="1000" data-value-from="100" data-step-size = "100")