doctype html
html(lang="ru" dir="ltr")
  head
    meta(charset="utf-8")
    title Slider demo
  body
    div.container
      slider-element(min="0" max="100" step="1" start-value="0" end-value="100").container__slider